<footer class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com" class="icon-circle" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.twitter.com" class="icon-circle" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com" class="icon-circle" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>

      <a href="https://www.instagram.com" class="icon-circle" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <div class="footer-language-selector">
      <hr />
      <i
        class="fa-brands fa-canadian-maple-leaf"
      ></i>
      <span>En | Fr</span>
      <hr />
    </div>

    <div class="footer-links">
      <a href="#">Our Menu</a>
      <a href="#">Our Values</a>
      <a href="#">Our App</a>
      <a href="#">Locations</a>
      <span class="mobile-line-break desktop-display-none"></span>
      <a href="#">FAQ</a>
      <a href="#">Gift Cards</a>
      <a href="#">Work with Us</a>
      <span class="mobile-line-break desktop-display-none"></span>
      <span class="desktop-line-break mobile-display-none"></span>
      <a href="#">Franchise Info</a>
      <a href="#">Our Company</a>
      <a href="#">Operator Login</a>
      <span class="mobile-line-break desktop-display-none"></span>
      <a href="#">A&W Income Fund</a>
      <a href="#">Contact Us</a>
      <a href="#">Terms</a>
      <a href="#">Privacy Policy</a>
    </div>

    <div class="footer-last-paragraph">
      <p>©2024 A&W Trade Marks Limited Partnership</p>
      <p>
        ™TORONTO BLUE JAYS, bird head design, split type font, and all related
        marks and designs are trademarks and/or copyright of Rogers Blue Jays
        Baseball Partnership (“RBJBP”). © 2024 RBJBP.<br>
        * Trademark of Frito-Lay North America, Inc. Used under licence The
        trademarks that appear are the property of their respective trademark
        owners.
      </p>
    </div>
  </footer>