<nav class="navbar">
    <hr style="border: 2px solid #ff6118" />
    <div class="navbar-top">
      <div class="find-aw">
        <a href="#">Find an A&W</a>
      </div>
      <div class="language-switch">
        <a href="#">En</a> | <a href="#">Fr</a>
      </div>
    </div>
    <hr style="border: 0.5px solid #f0f0f0" />
    <div class="navbar-bottom">
      <div class="logo">
        <img src="../assets/nav/logo.svg" />
      </div>
      <ul class="menu">
        <li><a href="#"><span class="mobile-display-none">Our&nbsp;</span>Menu</a></li>
        <li><a href="#"><span class="mobile-display-none">Our&nbsp; </span>Values</a></li>
        <li><a href="#">Our App</a></li>
      </ul>
      <a class="mobile-display-none">More</a>
      <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
      <label for="menu-toggle" class="icon-menu-wrap">
        <span></span>
      </label>

      <!-- 드롭다운 메뉴 -->
      <div class="dropdown-menu">
        <ul>
          <li>
            <a href="#">
              <span>Work with Us</span>
              <i class="dropdown_arrow"></i>
            </a>
          </li>
          <li>
            <a href="../pages/faq.html">
              <span>FAQ</span>
              <i class="dropdown_arrow"></i>
            </a>
          </li>
          <li>
            <a href="../pages/contact-us.html">
              <span>Contact Us</span>
              <i class="dropdown_arrow"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Gift Card</span>
              <i class="dropdown_arrow"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>