/* styles.css */

@import url('./styles/desktop.css');
@import url('./styles/mobile.css');
@import url('./styles/navbar.css');
@import url('./styles/footer.css');
@import url('./styles/contact-us.css');
@import url('./styles/styles.css');
@import url('./styles/ourmenu.css');
@import url('./styles/faq.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4B3327;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
    transform-origin: center; 
}

:root {
    --primary-color: #ff6218;
    --secondary-color: #ef6c33;
    --text-color: #333;
    --hover-color: #ff6600;
    --hover-button-color:#d26b26;
  }
