/* mobile */
@media (max-width: 849px) {
  .contact-us {
    padding: 10vw 5vw;
    height: 38.85%;
    margin: 20px auto;
  }

  .contact-us h2 {
    font-size: 8vw;
    margin-bottom: 3vw;
  }
  .contact-us p {
    font-size: 3.5vw;
  }
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    font-size: 3vw;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px !important;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 2.6vw !important;
    border-radius: 5px;
  }
}

/* desktop */
@media (min-width: 850px) {
  .contact-us {
    height: 240px;
    margin: 20px auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-us h2 {
    font-size: 44px;
    width: 840px;
    margin-bottom: 20px;
    text-align: left;
  }
  .contact-us p {
    font-size: 24px;
    max-width: 840px;
  }

  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    font-size: 20px;
  }
  input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px !important;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 20px !important;
  border-radius: 5px;
}
}

.feedback {
  padding: 3%;
  max-width: 950px;
  margin: 0 auto;
}



input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.button-submit {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 30px;
}

.button-submit:hover {
  background-color: var(--hover-button-color);
}
