/* mobile.css */

@media (max-width: 849px) {
  .mobile-display-none {
    display: none;
  }
  .mobile-line-break::after {
    content: none; 
    content: "\A"; 
    white-space: pre; 
  }

  .work-with-us {
    width: 160px;
    height: 48px;
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    text-align: center;
    z-index: 1000;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 얕은 그림자 */
  }
  

  /* hero section */
  .hero_section {
    position: relative;
    height: auto;
  }

  .bounce_arrow {
    animation: bounce 2s infinite; /* 2초 동안 반복되는 바운스 애니메이션 */
    width: 10%;
    position: absolute; /* 절대 위치로 hero_section 안에 배치 */
    left: 45%; /* 가로 중앙에 위치 */
    bottom: 20px;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0); /* 초기 위치 */
    }
    40% {
      transform: translateY(-30px); /* 위로 20px 이동 */
    }
    60% {
      transform: translateY(-10px); /* 위로 10px 이동 */
    }
  }

  .home-promotion-container a img {
    width: 100vw;
  }

  /* 전체 배너 스타일 */
  .blockwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .mobile-order-banner {
    background-color: #f9f9f9;
    margin: 25px 25px 10px 25px;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    padding: 45px 25px;
  }
  .mobileapp-callout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; /* 이미지와 텍스트 사이에 간격 추가 */
  }
  

  .mobileapp-callout img {
    width: 55px;
    height: 55px;
  }

  /* 앱 아이콘 스타일 */

  /* 텍스트 스타일 */
  .mobileapp-copy h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ff6218;
  }

  .mobileapp-copy p {
    font-size: 16px;
  }

  /* 버튼 스타일 */
  .mobileapp-btn {
    margin-top: 20px;
  }

  .mobileapp-btn a {
    padding: 13px;
    background-color: #ff6218;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
  }

  .order-btn:hover {
    background-color: #e55b00;
  }

}